* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  --body-col: #042630;
  --main-col: #f0f6f6;
  --light-font-col: #f1ffea;
  --dark-font-col: #254710;
  --input-col: #fffbeb;
  --input-border-col: rgba(4, 38, 48, 0.8);
  --btn-col: rgba(4, 38, 48, 0.8);
  --btn-hov-col: rgba(255, 251, 235, 0.8);
  --footer-col: #4c7273;
  --error-color: #931b05;
}

body {
  height: 100vh;
  background-color: var(--body-col);
}

.main {
  min-height: 100%;
  background-color: var(--main-col);
  padding: 1em 0 0 0;

  display: grid;
  grid-template-rows: auto min-content;
  grid-template-areas:
    "main"
    "footer";
}

.form-div {
  grid-area: main;
}

.form-instructions,
form {
  width: 90%;
  max-width: 25em;
  margin: 1em auto;
}

.form-instructions {
  text-align: center;
  margin-bottom: 3em;
}

.heading-instruct {
  margin-bottom: 0.4em;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  border: 0.1em solid transparent;
  padding: 0.4em;
}

label {
  display: flex;
  flex-direction: column;
  width: 90%;
}

label[for="country"] {
  flex-direction: row;
  justify-content: flex-start;
}

.input-type {
  margin-bottom: 0.3em;
}

.input-box {
  display: flex;
  justify-content: center;
}

.input-dropdown {
  margin-left: 4em;
}

input,
select {
  width: 100%;
  margin: 0 auto;
  padding: 0.4em;
  border-radius: 0.3em;
  border: 0.12em solid var(--input-border-col);
  outline: 0.12em solid transparent;
}

input:focus,
select:focus {
  outline: 0.12em solid var(--input-border-col);
}

input:invalid:focus,
select:invalid:focus {
  border: 0.12em solid var(--error-color);
  outline: 0.12em solid var(--error-color);
}

input:invalid {
  border: 0.12em solid var(--error-color);
}

.email,
.country,
.zip-code,
.password,
.password-confirm {
  background-color: var(--input-col);
}

.email-error,
.country-error,
.zip-error,
.pw-error,
.pw-confirm-error {
  text-align: center;
  color: var(--error-color);
  padding-top: 0.2em;
  visibility: hidden;
}

.country-error {
  width: 90%;
  margin-top: -1.5em;
}

.email-error:focus,
.country-error:focus,
.zip-error:focus,
.pw-error:focus,
.pw-confirm-error:focus {
  border: none;
  outline: none;
  text-decoration: underline;
}

.submit-info {
  align-self: center;
  padding: 0.5em 1em;
  margin-top: 2em;
  border-radius: 0.4em;
  font-size: 1rem;
  background-color: var(--btn-col);
  color: var(--light-font-col);
}

.submit-info:hover {
  cursor: pointer;
  background-color: var(--btn-hov-col);
  color: var(--dark-font-col);
}

/* Footer */

.footer-div {
  grid-area: footer;
  background-color: var(--footer-col);
  padding: 1ch;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div p {
  color: var(--light-font-col);
}

.footer-div .copyright-div {
  margin-right: 1em;
}

.footer-div .logo-div a,
.footer-div .logo-div a img {
  width: 3ch;
  height: 3ch;
  outline: 0.1em solid transparent;
  border: 0.1em solid transparent;
}

.footer-div .logo-div a:focus-visible img {
  outline: 0.1em solid var(--light-font-col);
  outline-offset: 0.2em;
  border: 0.1em solid transparent;
  border-radius: 0.5em;
}
